body{
    background: linear-gradient(149deg, red 0%,rgba(115,53,134,1) 42%, rgb(29, 41, 156) 72%,  rgb(6, 6, 179)  100%);
    animation: gradient 10s infinite linear;
    background-size: 400%; 
    width: 1200px;
  
  height: 1000px;
  
  }
  @keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
  @media (max-width:768px) {
  
  }
  @media (max-width:320px) {
  }
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: #181818;
  
  }
      
.img{
width: 700px;
}
.phy{
    border: 1px solid rgb(255, 255, 255);
    width: 350px;
}
